{% extends 'ekimei/base.html' %}

{% block title %}詳細 - {{ movie }}{% endblock %}

{% block content %}
<p><a href="{% url 'ekimei:list' %}">リストへ戻る</a></p>
<p><a href="https://www.youtube.com/watch?v={{ movie.youtube_id }}">{{ movie.title }}</a></p>
<!-- 	{% for song in movie.song.all %}
		<p><a href="{% url 'ekimei:song' song.id }}">{{ song }}</a></p>
	{% endfor %} -->
<p><a href="{% url 'ekimei:edit' movie.main_id %}">編集</a></p>
<p><a href="{% url 'ekimei:register' %}">新規追加</a></p>
<div class="youtube-frame">
            <div class="youtube-container">
                <div class="youtube">
                    <iframe src="https://www.youtube.com/embed/{{ movie.main_id }}"  frameborder='0' gesture='media' allowfullscreen></iframe>
                </div>
            </div>
        </div>
<ul>
	{% regroup movie.stationinmovie_set.all by station_cd.line_cd as line_list %}
		{% for line in line_list %}
		<li>{{ line.grouper }}</li>
		<ul>
			{% for stationinmovie in line.list %}
			<li><a href="{% url 'ekimei:station_list' stationinmovie.station_cd.station_cd %}">{{ stationinmovie.station_name }} - {{ stationinmovie.station_cd.line_cd }}</a></li>
			{% endfor %}
		</ul>
		{% endfor %}
</ul>
{% endblock %}