{% extends 'ekimei/base.html' %}
{% block content %}
    <form action="" method="POST">
        {{ form.as_p }}
        {%  csrf_token %}
        <button type="submit">送信</button>
        <button class="btn btn-primary" type="submit" name="save_and_add">保存してもう一つ追加</button>
    </form>
{% endblock %}

{% block extrajs %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function(){
	$('.line_cd').val({{ line_cd }});
})
</script>
{% endblock %}