<head>
	<link rel='stylesheet' href="http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/css/dropify.css" />
	<script src="http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/js/dropify.js"></script>
</head>
<body>

<h3>アップロードするよ</h3>
<form action="{% url 'ekimei:upload' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">駅名アップロード</button>
</form>

<form action="{% url 'ekimei:uploadline' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">路線アップロード</button>
</form>

<form action="{% url 'ekimei:uploadpref' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn" name="button">都道府県アップロード</button>
</form>
<script>
$(function(){
  $('.dropify').dropify();
})
</script>
</body>